@charset "UTF-8" ;

* {
            margin: 0px ;
            padding: 0px;
        }
        header {
            background-color: black;
            color: white;
            padding: 50px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.271);
        }

        header h1 {
           text-align: center;
           padding-bottom: 20px;
           font-size: 2.7em;
        }
         
        nav {
            text-align: center;
        }

        a {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }

        footer {
            background-color: black;
            color: white;
            padding: 10px;
            text-align: center;
        }